
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Mosaic a Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mosaic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="static/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="static/css/icon-font.css" type='text/css' />
<!-- //lined-icons -->
 <!-- Meters graphs -->
<script src="static/js/jquery-2.1.4.js"></script>
</head> 

<body class="sticky-header left-side-collapsed">
  <section>
  <!-- left side start-->
    <div class="left-side sticky-left-side">
      <!--logo and iconic logo start-->
      <div class="logo">
        <h1><a href="{% url 'index' %}">YELP<span>R</span></a></h1>
      </div>
      <div class="logo-icon text-center">
        <a href="{% url 'index' %}">YELP </a>
      </div>
      <div class="left-side-inner">
        <!--sidebar nav start-->
          <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active"><a href="{% url 'index' %}"><i class="lnr lnr-home"></i><span>Home</span></a></li>
            
            <li><a href="#" data-toggle="modal" data-target="#myModal1"><i class="fa fa-th"></i><span>Apps</span></a></li>
              
            <li class="menu-list"><a href="{% url 'index' %}"><i class="lnr lnr-indent-increase"></i> <span>Browser</span></a>  
              <ul class="sub-menu-list">
                <li><a href="{% url 'index' %}">Artists</a> </li>
                <li><a href="{% url 'index' %}">Services</a> </li>
              </ul>
            </li>
            
            <li class="menu-list"><a href="#"><i class="lnr lnr-heart"></i>  <span>My Favourities</span></a> 
              <ul class="sub-menu-list">
                <li><a href="{% url 'index' %}">All Songs</a></li>
              </ul>
            </li>
            <li class="menu-list"><a href="{% url 'index' %}"><i class="fa fa-thumb-tack"></i><span>Contact</span></a>
              <ul class="sub-menu-list">
                <li><a href="{% url 'index' %}">Location</a> </li>
              </ul>
            </li>     
          </ul>
        <!--sidebar nav end-->
      </div>
    </div>
    <!-- left side end-->

     <!-- display app start -->
      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog facebook" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>            
            </div>
            <div class="modal-body">
              <div class="app-grids">
                <div class="app">
            <div class="col-md-5 app-left mpl">
              <h3>Last Fm mobile app on your smartphone!</h3>
              <p>Download and Avail Special Songs Audios.</p>
              <div class="app-devices">
                <h5>Gets the app from</h5>
                <a href="#"><img src="static/images/1.png" alt=""></a>
                <a href="#"><img src="static/images/2.png" alt=""></a>
                <div class="clearfix"> </div>
              </div>
            </div>
            <div class="col-md-7 app-image">
              <img src="static/images/apps.png" alt="">
            </div>
            <div class="clearfix"></div>
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     <!-- display app end -->
     <!-- signup start  modal-->
    <div class="modal-wrapper">
        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content modal-info">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>            
                </div>
                <div class="modal-body modal-spa">
                  <div class="sign-grids">
                  </div>
                </div>
              </div>
            </div>
          </div>
              <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content modal-info">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>            
                </div>
                <div class="modal-body modal-spa">
                  <div class="sign-grids">
                    <div class="sign">
                      <div class="sign-left">
                       <li><a href="{% url 'signup'%}"></a></li>

                      </div>
                      <div class="sign-right">
                        
                      </div>
                      <div class="clearfix"></div>                
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      <!-- //signup modal end-->
    <!-- left side end-->
    <div class="main-content">
      <!-- header-starts -->
      <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
      <!--toggle button end-->
      <!--notification menu start -->
        <div class="menu-right">
          <div class="profile_details">   
              <div class="col-md-4 serch-part">
                <div id="sb-search" class="sb-search">
                  <form action="{% url 'browse'%}" method="post">{% csrf_token %}
                    <input class="sb-search-input" placeholder="Search" type="search" name="search" id="search">
                    <input class="sb-search-submit" type="submit" value="">
                    <span class="sb-icon-search"> </span>
                  </form>
                </div>
              </div>
                <!-- search-scripts -->
                  <script src="static/js/classie.js"></script>
                  <script src="static/js/uisearch.js"></script>
                    <script>
                      new UISearch( document.getElementById( 'sb-search' ) );
                    </script>
                <!-- //search-scripts -->
                      <!---->
                
                    <div class="col-md-4 login-pop">
                      {% if request.user.is_authenticated %}
                        <div id="loginpop"> <a href="{% url 'singout'%}" data-toggle="modal" data-target="#myModal5" id="loginButto"><span>Salir <i class="arrow glyphicon glyphicon-chevron-right"></i></span></a>
                        <div id="loginBox"> </div>
                        </div> 

                      {% else %}
                        <div id="loginpop"> <a href="{% url 'singin'%}" data-toggle="modal" data-target="#myModal5" id="loginButto"><span>Login <i class="arrow glyphicon glyphicon-chevron-right"></i></span></a>
                        <div id="loginBox"> </div>
                        </div>  
                      {% endif %}
                         <div  id="signup"><a class="top-sign" href="{%url 'signup' %}" data-toggle="modal" data-target="#myModal6"><i class="fa fa-sign-in"></i></a> 
                        </div>
                    </div>
          </div>
        </div>
  </section>
{% block contenido %}

{% endblock contenido %}    
 <section>
<footer>
   <p>YELP<a href="#" target="_blank"> Recommender System</a></p>
</footer>
<script src="static/js/jquery.nicescroll.js"></script>
<script src="static/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="static/js/bootstrap.js"></script>
  </section>
</body>