
{% extends 'base.html' %}

{% block contenido %}
                                 

<!-- pop-up-box --> 
<link href="static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all">
<script src="static/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script>
		$(document).ready(function() {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});
		});
</script>	

<div class="row">
  <div class="col-md-8">
	  <div class="albums">
		<div class="tittle-head">
			<h1 class="tittle">Recomendación </h1>
			<a href="#"><h4 class="tittle"></h4></a>
			<div class="clearfix"> </div>
		</div>
			{% if user.is_authenticated %}
			<h1> {{user.id}} </h1>
			{% endif %}
			{% for i in recomendacion %}
			<div class="col-md-4 browse-grid">
			<a class="play-icon popup-with-zoom-anim">
			<img src= /media/{{item.image_item.0.all.image}}></a>
			<a class="btn-large waves-effect waves-light teal lighten-1" href="{%url 'play'%}"><small>{{i}}</small></a>
			</div>
			{% endfor %}

	  </div>
   </div>
   <div class="albums col-md-2">
   </div>   	
  <div class="albums col-md-4">
  	<div class="music-right">
		<!-- //widget -->
		  <div class="widget-side">
			<h4 class="widget-title">tabla</h4>
				<ul>
					<li>{% for i in recomendacion %}
						<a href="single.html">{{i}}</a>
						<span class="post-date"></span>
						{% endfor %}
					</li>
				</ul>
			 </div>
		  <!-- //widget -->
	</div>
 
  </div>   
</div>
</h1></div>
<div class="row">


</div>


{% endblock contenido %}

