
{% extends 'base.html' %}

{% block contenido %}
                                 
<div class="review-slider">
		<div class="tittle-head">
			<h3 class="tittle">AFDFASDFA <span class="new"> New</span></h3>
			<div class="clearfix"> </div>
		</div>
		 <ul id="flexiselDemo1">
			{% for items in object_list %}
			<div class="col-md-3 browse-grid">
			    <a  href="single.html"><img src=/media/{{items.picture_items.all.0.picture_item}} title="allbum-name"></a>
			     <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
			      <a class="sing" href="single.html">{{items.name_item}}</a>
			</div>
			{% endfor %}
	</ul>
</div>

<div class="review-slider">
		<div class="tittle-head">
			<h3 class="tittle">Featured Albums <span class="new"> New</span></h3>
			<div class="clearfix"> </div>
		</div>
		 <ul id="flexiselDemo1">
			{% for items in object_list %}
			<div class="col-md-3 browse-grid">
			    <a  href="single.html"><img src=/media/{{items.picture_items.all.0.picture_item}} title="allbum-name"></a>
			     <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
			      <a class="sing" href="single.html">{{items.name_item}}</a>
			</div>
			{% endfor %}
	</ul>
</div>
	



	<script type="text/javascript">
$(window).load(function() {
	
  $("#flexiselDemo1").flexisel({
		visibleItems: 10,
		animationSpeed: 1000,
		autoPlay: true,
		autoPlaySpeed: 3000,    		
		pauseOnHover: false,
		enableResponsiveBreakpoints: true,
		responsiveBreakpoints: { 
			portrait: { 
				changePoint:480,
				visibleItems: 2
			}, 
			landscape: { 
				changePoint:640,
				visibleItems: 3
			},
			tablet: { 
				changePoint:800,
				visibleItems: 4
			}
		}
	});
	});
</script>
<script type="text/javascript" src="static/js/jquery.flexisel.js"></script>	


{% endblock contenido %}

