
<main>
	<center>
		<div class=""></div>

		<div class="">
			<div class="">

				<form class=" " action="{% url 'singin' %}" method="POST">
					{% csrf_token %}
					<div class=' '>
						<div class=" ">
							<h1>
								Ingresar
							</h1>
						</div>

						<div class=' '>
							<div class=" ">

								{% if form.errors %}
								<div class="">
									<div class="">
										<i class="">close</i>
										<center>
											<h6 class="white-text">Verifique su contraseña o correo electrónico<h6>
											</center>
										</div>
									</div>
								</div>
								{% endif %}
							</div>
						</div>


						<div class='form-group'>
							<div class='input-field'>
								<input class='validate login__form' type='email' name='username' id='email' required="required" />
								<label for='email'>Ingresa tu correo</label>
								<span class="helper-text">
                                    {% for error in form.email.errors %}
                                    {{ error|escape }} <br>
                                    {% endfor %}
                                </span>
							</div>
						</div>

						<div class=''>
							<div class='input-field  '>
								<input class='validate login__form' type='password' name='password' id='password' required="required" />
								<label for='password'>Ingresa tu contraseña</label>
								<span class="helper-text">
                                    {% for error in form.password.errors %}
                                    {{ error|escape }} <br>
                                    {% endfor %}
                                </span>
							</div>
						</div>

						<br />
						<center>
                        <div class=' '>
                            <button type='submit' name='btn_login' class='btn btn-large waves-effect'>Ingresar</button>
                        </div>
			</center>
		</form>
	</div>
</div>
</center>

<div class="section"></div>
<div class="section"></div>
</main>

